---
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Y'morzin Cup Final</title>
    <Font cssVariable="--font-alfa-slab-one" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    min-height: 100dvh;

    background-image: url("/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.952);
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: var(--font-alfa-slab-one), cursive;
    padding-block-start: clamp(1rem, 10vw, 5rem);
  }
</style>
