---
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Y'morzin Cup Final</title>
    <Font cssVariable="--font-alfa-slab-one" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    min-height: 100dvh;

    background: linear-gradient(90deg,rgba(42, 155, 149, 1) 0%, rgba(87, 199, 133, 1) 50%, rgb(47, 145, 90) 100%);
    background-size: 400% 400%;
    animation: gradient-shift 20s ease infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: var(--font-alfa-slab-one), cursive;
    padding-block-start: clamp(1rem, 10vw, 5rem);
  }

  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    body {
      animation: none;
    }
  }
</style>
